OPENAI_API_KEY=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
GEMINI_API_KEY=
DEEPSEEK_API_KEY=
ANTHROPIC_AUTH_TOKEN=
ANTHROPIC_BASE_URL=
OPENAI_MODEL=gpt-5-mini
GEMINI_MODEL=gemini-2.5-flash
DEEPSEEK_MODEL=deepseek-chat
ANTHROPIC_MODEL=claude-opus-4-6
